<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensagem 2.0</title>

    <link rel="stylesheet" href="style.css">

    <!--FONT AWESOME-->
    <script src="https://kit.fontawesome.com/3d60fb9aa0.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <div class="container">
            <div class="logo">
                <img src="image/logo-david-joge-curi.png" alt="">
            </div>
            <ul>
                <li>E.E.Prof.David Jorge Curi</li>
                <li>Mensagem para você!</li>
            </ul>
        </div>
    </nav>

    <div class="corpo__mensagem">
        <div class="container">
            <div class="mensagem" id="getMensagens">
            
            </div>
        </div>
    </div>
    <script src="main.js"></script>
</body>
</html>